@model Cvthequeweb.Models.Candidat

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/exp.js")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Date_Naissance").datepicker();
        });
    </script>
}

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="blue">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a class="simple-text logo-normal">
                    CV-THEQUE
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="../Candidats/Create">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Candidat</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" style="background-color: #8F8D8D;">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg fixed-top navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        @*<form>
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </span>
                                </div>
                            </form>*@
                        <ul class="navbar-nav">
                            @*<li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="now-ui-icons media-2_sound-wave"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Stats</span>
                                        </p>
                                    </a>
                                </li>*@
                            @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="now-ui-icons location_world"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Some Actions</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>*@
                            @*<li class="nav-item">
                                    <a class="nav-link" href="~/Views/Account/Register.cshtml">
                                        <i class="now-ui-icons users_single-02"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Account</span>
                                        </p>
                                    </a>
                                </li>*@
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
            <div style="margin-top:100px" class="setup-content">
                <div class="card" style="margin-left: 150px;width: 900px;margin-top: 30px;">
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <table class="table table-active">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Nom</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextBoxFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Prénom</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextBoxFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Email</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Téléphone</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextBoxFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Adresse</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextAreaFor(model => model.Adresse, new { htmlAttributes = new { @style = "min-height:60px;" } })
                                                        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Date de naissance</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.EditorFor(model => model.Date_Naissance, new { htmlAttributes = new { @class = "datepicker" } })
                                                        @Html.ValidationMessageFor(model => model.Date_Naissance, "", new { @class = "text-danger" })
                                                        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Genre</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.DropDownListFor(model => model.Genre, new SelectList(new List<Object> { new { value = 0, text = "Homme" }, new { value = 1, text = "Femme" } }, "value", "text"), "Veuillez Selectionner", new { })
                                                        @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Situation Familiale</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.DropDownListFor(model => model.Situation_Familiale, new SelectList(new List<Object> { new { value = 0, text = "Célibataire" }, new { value = 1, text = "Fiancé" }, new { value = 2, text = "Marié" }, new { value = 3, text = "Veuf" } }, "value", "text"), "Veuillez Selectionner", new { })
                                                        @Html.ValidationMessageFor(model => model.Situation_Familiale, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                            <td>
                                                <label>Ville</label>
                                            </td>
                                            <td>
                                                <div>
                                                    @Html.TextBoxFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                            <tr>
                                                <td>
                                                    <label>CIN</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        @Html.TextBoxFor(model => model.CIN, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            @Html.ActionLink("Suivant", "Create", "Experiences_Pro", new { }, new { @class = "btn btn-success", @style = "float:right" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="../assets/js/plugins/chartjs.min.js"></script>
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<script src="../assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<script src="../assets/demo/demo.js"></script>
<script>
    $(document).ready(function () {
        demo.initDashboardPageCharts();
    });
</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/exp.js")
}*@